:root {
    --color-primary: white;
    --color-secondary: #FFF9EB;
    --color-tertiary: #83313F;
    --color-button: #CFAC5A;
    --color-button-hover: #cc9e33;
    --color-text: white;
    --color-white: black;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F4D7B5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
    margin-left: 10%;
}


@media(max-width:480px) {
    .header-banner {
        flex-direction: column;
    }

}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #B22222;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 19rem;
    justify-content: center;
    margin-top: 2%;
}

.warning {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: red;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    justify-content: center;
}

.button-add {
    background-color: #B22222;
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #b8273f;
}

/* Listas */
.name-list li {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-button-hover);
    color: var(--color-secondary);
    text-align: center;
    border-radius: 0.8rem;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    margin: 0.5rem;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.remove-button {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 0.8rem;
    border-radius: 4rem;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;

}

.remove-button:hover {
    border: solid black 1px;
}

ul {
    list-style-type: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 0;
}

.result-list {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #05DF05;
    margin-top: 15px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5%;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: white;
    background-color: #FFD700;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

/* Footer */
footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #B22222;
    color: #FFFFFF;
    padding: 1%;
}

/* Icons Footer */
.icon {
    width: 2rem;
    filter: invert(100%) brightness(200%);
}

.icons-footer {
    display: flex;
    gap: 1rem;
}